<div class="container">
    <section class="block">
            <header class="block__header">
                <h2 class="block__heading">Heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magnam sunt dolore aliquid illo ea placeat labore eaque ipsa quidem!</p>
            </header>
    </section>
</div>

<div class="container">
    <section class="block block--dark block--skewed-right">
            <header class="block__header">
                <h2 class="block__heading">Heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magnam sunt dolore aliquid illo ea placeat labore eaque ipsa quidem!</p>
            </header>
    </section>
</div>